/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: rgb(71, 86, 255);
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "🍔 ";
}

.navigation a:hover {
	color: white;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}

/* Class Selectors ***************/
.col1,
.col2,
.col3 {
  background-color: rgb(184, 174, 174);
  border: 1px solid;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  margin: 0.5em;
}
.images-div{
  background:  #0a9056d2;
}

.images-paul {
  grid-row: 1;
  grid-column: 1/4;
  border-radius: 14px;
  border-style: solid;
  border-color: white;
  width:100px; 
  height: auto;
}

.images-paul img {
  grid-column: 2;
  grid-row: 1;
  margin: 1em 1em 1em 1em;
  padding: 0px;
  justify-self: right;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #121d4d; 



}

footer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  color: #ffffff;


}

footer p{
  grid-row: 6;
  grid-column: 1/6;
  background: #1d0e34; 
  text-align: justify;
  border-radius: 14px;
  padding: 1.5em;
  font-size: 18px;
  color: #ffffff;
}


/* phone or baseline views **************************/
main {
  max-width: 767px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.8rem;
}

main section h2 {
  color: #536878;
}

main section {
  margin: 0.5rem;
  border: 1px solid #bbb;
  padding: 0 1rem;
  background-color: #eee;
}

main section:nth-child(2) {
  display: none;
  margin: 0.5rem;
}

.image {
  box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
  main {
      grid-template-columns: 1fr 1fr;
  }

  main section:nth-child(2) {
      display: block;
  }

  main section:nth-child(3) {
      grid-column: span 2;
  }

  main section picture {
      display: block;
  }
  main section picture img {
      width: 100%;
      height: auto;
      border: 1px solid #bbb;
  }
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
  main {
      grid-template-columns: 1fr 1fr 1fr;
  }

  main section:nth-child(3) {
      grid-column: span 1;
  }
}
